{% extends "view_requisition.html" %}
{% block content %}

<form action="update_user/{{user_list.id}}" method="POST">
    {% csrf_token %}
    <p onclick="window.location.href='/users'" class="clickable ">Users / {{user_list.name }}</p>

    <input type="submit" value="Save" style="background-color: 00008B; color: white; padding: 5px;"/>
    <input type="reset" value="Discard" style="padding: 5px;" onclick="window.location.href='/users'"/><br><br>

    <div style="background-color: white; margin: 50px; padding: 10px">

        <label><b>Name</b></label>
        <input type="text" name="name" value="{{user_list.name}}" required/><br><br>

        <label style="padding: 10px;"><b>Email</b></label>
        <input type="text" name="email" value="{{user_list.email}}" required/><br><br>

        <label class="col-md-5" for="is_supervisior"> Supervisior </label>
        <input id="is_supervisior" type="checkbox" name="is_supervisior" {% if user_list.is_supervisior is True %} checked{% endif %}/><br><br>

        <label class="col-md-5" for="is_accounts"> Accounts </label>
        <input id="is_accounts" type="checkbox" name="is_accounts" {% if user_list.is_accounts is True %} checked{% endif %}/><br><br>

        <label class="col-md-5" for="is_purchase"> Purchase </label>
        <input id="is_purchase" type="checkbox" name="is_purchase" {% if user_list.is_purchase is True %} checked{% endif %}/><br><br>

        <label class="col-md-5" for="is_administrator"> Administrator </label>
        <input id="is_administrator" type="checkbox" name="is_administrator" {% if user_list.is_administrator is True %} checked{% endif %}/><br><br>

        <label class="col-md-5" for="is_add_sites_and_vendors"> Add Sites and Vendors </label>
        <input id="is_add_sites_and_vendors" type="checkbox" name="is_add_sites_and_vendors" {% if user_list.is_add_sites_and_vendors is True %} checked{% endif %}/><br><br>
    </div>
</form>
{% endblock %}
