{% extends "add_requisition.html" %}
{% block content %}

    <form action="add_clients" method="POST">
        {% csrf_token %}
        <p><a href="clients" style="color: #000080;">Clients</a> / New</p>

        <input type="submit" value="Save" style="background-color: 00008B; color: white; padding: 5px;"/>
        <input type="reset" value="Discard" style="padding: 5px;" onclick="window.location.href='/'"/><br><br>

        <div style="background-color: white; margin: 50px; padding: 10px">

            <label style="padding: 10px;"><b>Name</b></label>
            <input type="text" name="name" required/><br><br>
            <label><b>Street</b></label>
            <input type="text" name="street" /><br><br>
            <label><b>Street2</b></label>
            <input type="text" name="street2" /><br><br>
            <label><b>City</b></label>
            <input type="text" name="city" /><br><br>
            <label><b>State</b></label>
            <input type="text" name="state" /><br><br>
            <label><b>Pincode</b></label>
            <input type="text" name="pincode" /><br><br>
            <label><b>Country</b></label>
            <input type="text" name="country" /><br><br>
            <label><b>Phone</b></label>
            <input type="text" name="phone" /><br><br>
            <label><b>Mobile</b></label>
            <input type="text" name="mobile" /><br><br>
            <label><b>Email</b></label>
            <input type="text" name="email" /><br><br>
        </div>
    </form>
{% endblock %}

