{% extends "requisition.html" %}
{% block content %}
<p>Clients</p>
<a href="add_clients">
    <button style="background-color: #00008B; color: white; padding: 7px;">Create</button>
</a><br><br>

<div>
    <table style="width:100%;">
        <tr>
            <th style="background-color: #E7E7E7;">Name</th>
            <th style="background-color: #E7E7E7;">Mobile</th>
            <th style="background-color: #E7E7E7;">City</th>
            <th style="background-color: #E7E7E7;">State</th>
            <th style="background-color: #E7E7E7;">Pincode</th>
            <th style="background-color: #E7E7E7;">Country</th>

            {% for clients in client_list %}
        <tr>
            <td>{{ clients.name }}</td>
            <td>{{ clients.mobile }}</td>
            <td>{{ clients.city }}</td>
            <td>{{ clients.state }}</td>
            <td>{{ clients.pincode }}</td>
            <td>{{ clients.country }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
