{% extends "requisition.html" %}
{% block content %}
<p>Clients</p>
<a href="add_clients">
    <button style="background-color: #00008B; color: white; padding: 7px;">Create</button>
</a><br><br>

<div>
    <table style="width:100%;">
        <tr>
            <th style="background-color: #E7E7E7;">Name</th>
            <th style="background-color: #E7E7E7;">Mobile</th>
            <th style="background-color: #E7E7E7;">City</th>
            <th style="background-color: #E7E7E7;">State</th>
            <th style="background-color: #E7E7E7;">Pincode</th>
            <th style="background-color: #E7E7E7;">Country</th>

            {% for client in client_list %}
        <tr class="clickable " onclick="window.location.href='view_clients/{{ client.id }}'">
            <td>{{ client.name }}</td>
            <td>{{ client.mobile }}</td>
            <td>{{ client.city.name }}</td>
            <td>{{ client.state.name }}</td>
            <td>{{ client.pincode }}</td>
            <td>{{ client.country.name }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
