{% extends "requisition.html" %}
{% block content %}
<p>Sites</p>
<a href="add_sites">
    <button style="background-color: #00008B; color: white; padding: 7px;">Create</button>
</a><br><br>

<div>
    <table style="width:100%;">
        <tr>
            <th style="background-color: #E7E7E7;">Site No.</th>
            <th style="background-color: #E7E7E7;">Site Description</th>
            <th style="background-color: #E7E7E7;">Alias Name</th>
            <th style="background-color: #E7E7E7;">Client</th>
            <th style="background-color: #E7E7E7;">City</th>
            <th style="background-color: #E7E7E7;">State</th>
            <th style="background-color: #E7E7E7;">Pincode</th>
            <th style="background-color: #E7E7E7;">Country</th>
            <th style="background-color: #E7E7E7;">Company</th>

            {% for site in site_list %}
        <tr class="clickable " onclick="window.location.href='view_sites/{{ site.id }}'">
            <td>{{ site.site_no }}</td>
            <td>{{ site.site_desc }}</td>
            <td>{{ site.alias_name }}</td>
            <td>{{ site.client.name }}</td>
            <td>{{ site.city.name }}</td>
            <td>{{ site.state.name }}</td>
            <td>{{ site.pincode }}</td>
            <td>{{ site.country.name }}</td>
            <td>{{ site.company }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}