{% extends "view_requisition.html" %}
{% block content %}

<form action="update_sites/{{all_sites.id}}" method="POST" data-city-url="{% url 'load_city' %}" data-state-url="{% url 'load_states' %}" id="indexForm">
    {% csrf_token %}
    <p onclick="window.location.href='/sites'" class="clickable ">Sites / [{{all_sites.site_no }}]
        {{all_sites.alias_name }}</p>

    <input type="submit" value="Save" style="background-color: 00008B; color: white; padding: 5px;"/>
    <input type="reset" value="Discard" style="padding: 5px;" onclick="window.location.href='/sites'"/><br><br>

    <div style="background-color: white; margin: 50px; padding: 10px">

        <label style="padding: 10px;"><b>Site No.</b></label>
        <input type="text" name="site_no" value="{{all_sites.site_no}}" required/><br><br>
        <label><b>Site Description</b></label>
        <input type="text" name="site_desc" value="{{all_sites.site_desc}}" required/><br><br>
        <label><b>Alias Name</b></label>
        <input type="text" name="alias_name" value="{{all_sites.alias_name}}" required/><br><br>
        <label><b>Street</b></label>
        <input type="text" name="street" value="{{all_sites.street}}"/><br><br>
        <label><b>Street2</b></label>
        <input type="text" name="street2" value="{{all_sites.street2}}"/><br><br>
        <label><b>Country</b></label>
        <select id="country" name="country_id">
            {% for country in country_list %}
            {% if all_sites.country_id == country.id %}
            <option value="{{country.id}}" selected>{{country.name}}</option>
            {% else %}
            <option value="{{country.id}}">{{country.name}}</option>
            {% endif %}
            {% endfor %}
        </select><br><br>

        <label><b>State</b></label>
        <select id="state" name="state_id">
            {% for state in state_list %}
            {% if all_sites.state_id == state.id %}
            <option value="{{state.id}}" selected>{{state.name}}</option>
            {% else %}
            <option value="{{state.id}}">{{state.name}}</option>
            {% endif %}
            {% endfor %}
        </select><br><br>

        <label><b>City</b></label>
        <select id="city" name="city_id">
            {% for city in city_list %}
            {% if all_sites.city_id == city.id %}
            <option value="{{city.id}}" selected>{{city.name}}</option>
            {% else %}
            <option value="{{city.id}}">{{city.name}}</option>
            {% endif %}
            {% endfor %}
        </select><br><br>

        <label><b>Pincode</b></label>
        <input type="text" name="pincode" value="{{all_sites.pincode}}"/><br><br>

        <label><b>Country</b></label>
        <input type="text" name="country" value="{{all_sites.country}}" required/><br><br>

        <label><b>Client</b></label>
        <select name="client_id">
            {% for client in client_list %}
            {% if all_sites.client_id == client.id %}
            <option value="{{client.id}}" selected>{{client.name}}</option>
            {% else %}
            <option value="{{client.id}}">{{client.name}}</option>
            {% endif %}
            {% endfor %}
        </select><br><br>
        <label><b>Company</b></label>
        <input type="text" name="company" value="{{all_sites.company}}" required/><br><br>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#country").change(function ()
     {
      var url = $("#indexForm").attr("data-state-url");
      var countryId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'country': countryId

        },
        success: function (data) {
          $("#state").html(data);
          $("#city").html("<option>---Select City---</option>");
        }
      });

    });


      $("#state").change(function ()
     {
      var url = $("#indexForm").attr("data-city-url");
      var stateId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'state': stateId
        },
        success: function (data) {
          $("#city").html(data);
        }
      });
    });
</script>
{% endblock %}
