<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;

}
tr:nth-child(even) {background-color: #FBFBFB;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #00008B;

}
li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: white;
}


</style>
<body style="font-family: Arial, sans-serif; background-color: #E7E7E7">
<div style="background-color: white">
    <ul>
        <li><a href="/"><h3 style="background-color: #00008B; color: white;"><i class="fa fa-th-large"></i> Construction
            Site Management</h3></a></li>
        <li><a href="/">Construction Site Management</a></li>
        <li><a href="/">Reporting</a></li>
        <li><a href="/">Configuration</a></li>
    </ul>
    {% block content %}
    <form action="update_record/{{material_req.id}}" method="POST">
        {% csrf_token %}
        <p onclick="window.location.href='/'" class="clickable ">Material Requisition / {{material_req.name }}</p>
        <input type="submit" value="Save" style="background-color: 00008B; color: white; padding: 5px;"/>
        <input type="reset" value="Discard" style="padding: 5px;" onclick="window.location.href='/'"/><br><br>

        <div style="background-color: white; margin: 50px; padding: 10px">
            <label><b>RQN Reference</b></label>
            <input type="text" name="name" value="{{material_req.name}}"/><br><br>
            <label style="padding: 10px;"><b>Site</b></label>
            <input type="text" name="site_id" value="{{material_req.site_id}}"/><br><br>
            <label><b>Supervisior</b></label>
            <input type="text" name="user_id" value="{{material_req.user_id}}"/><br><br>
        </div>
    </form>
</div>
{% endblock %}
</body>
</html>
