{% extends "requisition.html" %}
{% block content %}
<p>Materials</p>
<a href="add_materials">
    <button style="background-color: #00008B; color: white; padding: 7px;">Create</button>
</a><br><br>

<div>
    <table style="width:100%;">
        <tr>
            <th style="background-color: #E7E7E7;">Material Code</th>
            <th style="background-color: #E7E7E7;">Name</th>
            <th style="background-color: #E7E7E7;">Alias Name</th>
            <th style="background-color: #E7E7E7;">Quantity</th>
            <th style="background-color: #E7E7E7;">Conversion Quantity</th>
            <th style="background-color: #E7E7E7;">GST Rate(%)</th>
            <th style="background-color: #E7E7E7;">Allowable Tolerance(%)</th>

            {% for materials in material_list %}
        <tr>
            <td>{{ materials.material_code }}</td>
            <td>{{ materials.name }}</td>
            <td>{{ materials.alias_name }}</td>
            <td>{{ materials.quantity }}</td>
            <td>{{ materials.conversion_quantity }}</td>
            <td>{{ materials.gst_rate }}</td>
            <td>{{ materials.allowable_tolerance }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}